body {
    background-image: url(/Imagenes/olas.jpg);
    background-size: cover;
}
ul {    
    color: white;
}
h3 {
    color: white;
}
p {
    color: white;
}
#A {
    border-radius: 20px;
    border: 3px solid black;
    transform: rotate(20deg);
    border-left: 50%;
}
#E {
    border-radius: 20px;
    border: 3px solid black;
    transform: rotate(20deg);
}
#I {
    border-radius: 20px;
    border: 3px solid black;
    transform: rotate(20deg);
}
#N {
    border-radius: 20px;
    border: 3px solid black;
    transform: rotate(20deg);
}
#T {
    border-radius: 20px;
    border: 3px solid black;
    transform: rotate(20deg);
}
#M {
    border-radius: 20px;
    border: 3px solid black;
    transform: rotate(20deg);
}